@model Developers.Models.Categoria
@{
    ViewData["Title"] = "Crear Categoria";
    Layout = "~/Views/Shared/_LayoutFarm.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>NUEVA CATEGORIA</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Categorias" asp-action="Create" method="post" id="categoriaForm">
                    <div class="form-group mb-2">
                        <label class="form-label">NOMBRE</label>
                        <input class="form-control" asp-for="CategoriaName" id="CategoriaName" placeholder="Ingrese nombre de Categoria" />
                        <span asp-validation-for="CategoriaName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label">DESCRIPCIÓN</label>
                        <input class="form-control" asp-for="Descripcion" id="Descripcion" placeholder="Ingrese Descripción" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-floppy"></i>&nbsp; Guardar
                        </button>
                        <a asp-controller="Categorias" asp-action="Index" class="btn btn-primary">
                            <i class="bi bi-arrow-return-left"></i>&nbsp;Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Validar el formulario antes de enviarlo
            $('#categoriaForm').submit(function (event) {
                var nombre = $('#CategoriaName').val().trim();
                var descripcion = $('#Descripcion').val().trim();

                // Validar que el nombre no esté vacío
                if (!nombre) {
                    event.preventDefault(); // Detiene el envío del formulario
                    alert("El nombre de la categoría es obligatorio.");
                    return;
                }

                // Validar si ambos campos están vacíos
                if (!descripcion) {
                    event.preventDefault(); // Detiene el envío del formulario
                    alert("Por favor, complete al menos uno de los campos: Nombre o Descripción.");
                }
            });
        });
    </script>
}


